<!DOCTYPE html>
<html>
<head>
  <title>MultilevelValidation</title>
  <%= stylesheet_link_tag    "application","validationEngine.jquery", :media => "all" %>
  <%= javascript_include_tag "application","jquery-1.7.2.min", "jquery.validationEngine","jquery.validationEngine-en" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
